<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="24621ThomasHeijting.CashLight" Publisher="CN=3E0B4307-B566-407F-BEE2-B993D5E99912" Version="1.1.0.0" />
  <Properties>
    <DisplayName>CashLight</DisplayName>
    <PublisherDisplayName>Thomas Heijting</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CashLight_App.Windows.App">
      <m2:VisualElements DisplayName="CashLight" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Het nieuwe huishoudboekje." ForegroundText="light" BackgroundColor="#464646" ToastCapable="false">
        <m2:DefaultTile Square70x70Logo="Assets\Square70x70Logo.png" ShortName="CashLight" DefaultSize="square150x150Logo">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation" Executable="CashLight-App.Windows.exe" EntryPoint="CashLight_App.Windows.App">
          <FileTypeAssociation Name="csv">
            <DisplayName>CSV bestand</DisplayName>
            <Logo>icoon.png</Logo>
            <InfoTip>CSV bestand met bank-gegevens</InfoTip>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType ContentType="text/csv">.csv</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>